@font-face {
    font-family: "Digital";
    src: url("fonts/Let_s_go_Digital_Regular.ttf");
}

html, body{
	margin: 0;
}

.container{
    margin: 10px;
}

.header{
    display: flex;
    justify-content: flex-start;
}

.size{
    font-size: 24px;
    text-align: center;
    color: #00e600;
}

.statistic{
    margin: 0 20px 0 20px;
    border: 1px solid #00e600;
    font-size: 44px;
    color: #00e600;
    font-weight: bold;
    height: 50px;
    
    display: flex;
    justify-content: flex-start;
}

.numSquires{
    margin: 0 10px 0 10px;
}

.canvas{
    margin: 30px 30px 30px 30px; 
}

.timer{
    font-family: 'Digital';
    font-size: 44px;
    color: #00e600;
    font-weight: bold;
    display: block;
    text-align: right;
    width: 150px;
    height: 50px;
    border: 1px solid #00e600;
}

.btn-my{
	background-color: #008CBA;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.19);
}

.btn-my:hover {
    background-color: #4CAF50; /* Green */
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    box-shadow: none;
    transition-duration: unset;
}
