html, body{
	margin: 0;
}

.container{
    margin: 10px;
}

.btn-my{
	background-color: #008CBA;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.19);
}

.btn-my:hover {
    background-color: #4CAF50; /* Green */
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    box-shadow: none;
    transition-duration: unset;
}
