html, body{
	margin: 0;
}

.container{
	padding: 10px;
}

/* The Modal (background) */
.modal {
	font-family: Verdana;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
    margin: auto;
 /*   padding: 20px;*/
    border: 1px solid #888;
    width: 40%;
    height: 30%;
}

.content{
	height: 50%
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.red{
	height: 25%;
	background-color:#DC143C;
	color: #FFFFFF;
}

.centre{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px 0;
}

.centre-left{
	display: flex;
	align-items: center;
	padding: 0 10px 0;
}

.close:hover,
.close:focus {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.divContents{
	display: flex;
	justify-content: flex-start;
}

.divContent{
	width: 200px;
	height: 200px;
	color: green;
	border: 1px solid;
	padding: 5px;
	margin: 10px;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.19);
}

.btn-my{
	background-color: #008CBA;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.19);
}

.btn-my:hover {
    background-color: #4CAF50; /* Green */
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    box-shadow: none;
    transition-duration: unset;
}

.timer{
	color: orange;
	font-size: 20px;
	font-style: bold;
}